node_modules
.next/static/webpack/webpack.6413459e71fc971d.hot-update.js
.DS_Store
.next/trace
.next/cache/
.next/server/_error.js
.next/server/pages/index.js
.next/static/chunks/_error.js
.next/static/chunks/webpack.js
.next/static/chunks/pages/index.js
.next/static/webpack/6413459e71fc971d.webpack.hot-update.json
.next/static/webpack/webpack.103cb9cac7ae4250.hot-update.js
.next/static/webpack/webpack.6413459e71fc971d.hot-update.js
.next/trace
.next/cache/webpack/client-development/0.pack
.next/cache/webpack/client-development/3.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/server-development/1.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/server/_error.js
.next/server/pages/index.js
.next/static/chunks/_error.js
.next/static/chunks/webpack.js
.next/static/chunks/pages/index.js
.next/static/webpack/6413459e71fc971d.webpack.hot-update.json
.next/static/webpack/webpack.103cb9cac7ae4250.hot-update.js
.next/static/webpack/webpack.6413459e71fc971d.hot-update.js
